.header-text {
    font-size: 30px;
    color: white;
}
.text-center {
    text-align: center;
}
.pt-5 {
    padding-top: 3rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.login-form-wrap {
    background: #5a423b;
}
.form-login {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #d3ced2;
    border-radius: 10px;
    background: white;
}
.form-login .container {
    padding-bottom: 50px;
}
.p-5 {
    padding: 3rem;
}
.conti-text {
    font-size: 25px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Open Sans;
}
.btn-login, .btn-register-1 {
    width: 100px;
    padding: 10px;
    color: #fff;
    border: 1px solid #5a423b;
    background-color: #555;
    border-radius: 5px;
    text-align: center;
}
.btn-login{
    text-align: center;
    margin-left: 250px;
}
.btn-login:hover, .btn-register-1:hover {
    color: white;
    background-color: #5a423b;
    border: 1px solid #000000;
    text-align: center;
}
a{
    font-family: Open Sans;
    color: #000;
}
.btn-register {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}
a:hover, a:focus {
    color: rgb(111, 105, 105);
}
a:hover {
    text-decoration: none;
    opacity: 0.9;
}
.form-label {
    margin-bottom: 0.5rem;
    font-family: open sans-serif;
}
.container1{
    padding-bottom: 50px;
}
.form-login2 {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #d3ced2;
    border-radius: 10px;
    background: white;
}
.form-login2 .container {
    padding-bottom: 50px;
}